---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from '../components/navigation.astro';
---
<!-- add a navigation bar or something soon, probably in layout-->

<Layout title="paper">
	<main>
		<!DOCTYPE html>
		<html>
		
		<head>
			<title>The New Antebellum PDF</title>
		</head>
	<body>
		<h1>THE NEW ANTEBELLUM</h1>
		<Navigation/>
		
		<p>The New Antebellum is a research project that explores the roots of the United States’ carceral
			system and examines the relationship between prison work programs and the American
			economy. There’s a lack of transparency surrounding many of the regulatory systems, goods, and
			services that shape the United States of America. Through neoliberalism and racial capitalism,
			the United States constructs a criminal industrial complex to extract value from the biopolitics of
			disposability and conceal the sociopolitical problems plaguing the country.
		</p>
		<iframe 
		src="https://drive.google.com/file/d/1FdqugKznD_TLWQFQnS_eDJy6vqQwkLP-/preview" width="640" height="480" allow="autoplay">
		</iframe>
	</body>
		</html>

	</main>
</Layout>

<style>
	
	main {
		margin: auto;
		padding: 0.5rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	p {
		color: white;
		padding: 2rem;
		margin: 2rem;

	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: white;
	}
	h3 {
		color: white;
	}
</style>
