<ul>
    <a href="/projectionmap/">Map</a>
    <a href="/paper/">Paper</a>
    <!-- <a href="/resources/">Resources</a> -->
</ul>
<style>
    a{
        text-decoration: none;
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 2px;
        padding: 1em;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        display: inline;
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
</style>